
.main{
background-Color: grey;
width: 60%;
height: 50%;
border-Radius: 25px;
position: relative;
left: 20%;
}

.harvest-restake{
  width: 300px;
  height: 100px;
  border-Radius: 25px;
  color: white;
  background-Color: lightGreen;
  font-Size:  2em;
  position: relative;
  left:50%;
  transform: translateX(-50%);
}

.claimable{
  text-align: center;
}

.popup-box {
  position: fixed;
  background: #0000008f;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

.small-popup-box {
  position: fixed;
  background: rgb(100, 100, 100);
  width: 10%;
  height: fit-content;
  z-index: 101;
  top: 10%;
  left: 5%;
  border: 5px solid #181717;
  border-radius: 25px;
  text-align: center;
}

.box {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: rgb(27, 27, 27);
  border-radius: 20px;
  padding: 25px;
  border: 2px outset rgb(57, 57, 57);
  border-bottom-style: inset;
  border-right-style: inset;
  overflow: auto;
  text-align: center;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(30% - 20px);
  top: calc(100vh - 85vh - 33px);
  background: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  color: whitesmoke;
}

.popup-title{
  font-size: 2rem;
  text-shadow: rgb(0 0 0 / 40%) 0px 4px 5px;
  color: whitesmoke;
}

.box p{
  color: whitesmoke;
}

.loader {
  border: 10px solid #181717;
  border-radius: 50%;
  border-top: 10px solid #07070700;
  width: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  height: 25px;
  animation: spin 2s linear infinite;
  margin: 0px;
  padding: 0px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.external-link{
  height: 5rem;
  width: 5rem;
  position: relative;
  top: .75rem;
  transform: translateY(-.75rem);
}

.choice-link{
  width: 50%;
  height: 100%;
  margin: 0px;
}

